body {
    --dot-bg: rgb(0, 0, 0);
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
    transform: scale(1.4); /* Scale everything */
    transform-origin: top; /* Ensures scaling starts from the top */
  }
